@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: "#FF1E56";
  --backHabilities: '#ff1e56b3';
  --secondary: '#F72C5B';
  --tertiary: '#FF8383';
  --quaternary: '#C30E59';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
